.transparent-green {
     background-color: var(--transparent-green-background-color);
     border-width: var(--transparent-green-border-width);
     border-color: var(--transparent-green-border-color);
     border-style: var(--transparent-green-border-style);
}
.redlayer {
     background-color: var(--redlayer-background-color);
     border-width: var(--redlayer-border-width);
     border-color: var(--redlayer-border-color);
     border-style: var(--redlayer-border-style);
}
.blue-layer {
     background-color: var(--blue-layer-background-color);
     border-width: var(--blue-layer-border-width);
     border-color: var(--blue-layer-border-color);
     border-style: var(--blue-layer-border-style);
     box-shadow: var(--blue-layer-offset-x) var(--blue-layer-offset-y) var(--blue-layer-blur) var(--blue-layer-spread) var(--blue-layer-color);
}