.system-font {
     font-family: system-font-font-family;
     font-size: system-font-font-size;
     font-weight: system-font-font-weight;
}
.test {
     font-family: test-font-family;
     font-size: test-font-size;
     font-weight: test-font-weight;
}
.footer-text {
     font-family: footer-text-font-family;
     font-size: footer-text-font-size;
}
.menu-text {
     font-family: menu-text-font-family;
     font-size: menu-text-font-size;
}
.body-text {
     font-family: body-text-font-family;
     font-size: body-text-font-size;
}
.header-text {
     font-family: header-text-font-family;
     font-size: header-text-font-size;
}