
html * {
    box-sizing: border-box;
    background-color: var(--body-color);
}


.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 20px;
    width: 100%;
}

#top-nav ul {
    list-style: none;
    padding-left: 0;
    text-align: right;
}

#top-nav li {
    display: inline-block;
    margin-left: 10px;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    flex: 1;
}

footer {
    line-height: 50px;
}