
html * {
    box-sizing: border-box;
}

html {
    background-color: var(--body-color);
}

h1 {
    font-weight: 400;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 20px;
    width: 100%;
}

#top-nav ul {
    list-style: none;
    padding-left: 0;
    text-align: right;
}

#top-nav li {
    display: inline-block;
    margin-left: 10px;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    flex: 1;
}

footer {
    line-height: 50px;
}


.header-text {
    color: var(--header-text-color);
}

.subheader-text {
    color: var(--subheader-text-color);
}

.footer-text {
    color: var(--footer-text-color);
}

.body-text {
    color: var(--body-text-color);
}

.menu-text {
    color: var(--menu-text-color);
}

.menu-text a {
    color: var(--menu-text-color);
}
.menu-text a:hover {
    color: var(--menu-text-hover);
}