.subheader-text {
     font-family: $subheader-text-font-family;
     font-size: $subheader-text-font-size;
     font-weight: $subheader-text-font-weight;
}
.footer-text {
     font-family: $footer-text-font-family;
     font-size: $footer-text-font-size;
     font-weight: $footer-text-font-weight;
}
.menu-text-hover1 {
     font-family: $menu-text-hover1-font-family;
     font-size: $menu-text-hover1-font-size;
     font-weight: $menu-text-hover1-font-weight;
}
.menu-text {
     font-family: $menu-text-font-family;
     font-size: $menu-text-font-size;
     font-weight: $menu-text-font-weight;
}
.header-text {
     font-family: $header-text-font-family;
     font-size: $header-text-font-size;
     font-weight: $header-text-font-weight;
}
.body-text {
     font-family: $body-text-font-family;
     font-size: $body-text-font-size;
     font-weight: $body-text-font-weight;
}
.user-test {
     font-family: $user-test-font-family;
     font-size: $user-test-font-size;
     font-weight: $user-test-font-weight;
}
.custom-test {
     font-family: $custom-test-font-family;
     font-size: $custom-test-font-size;
     font-weight: $custom-test-font-weight;
}
.typekit-test {
     font-family: $typekit-test-font-family;
     font-size: $typekit-test-font-size;
     font-weight: $typekit-test-font-weight;
     font-style: $typekit-test-font-style;
}
.google-test {
     font-family: $google-test-font-family;
     font-size: $google-test-font-size;
     font-weight: $google-test-font-weight;
}