:root {
    /* Colors */
    --subheader-text-color: #d5d5d5;
    --footer-text-color: #6fb473;
    --menu-text-hover: #c5ae86;
    --header-text-color: #ffffff;
    --body-text-color: #ffffff;
    --menu-text-color: #ffe0aa;
    --body-color: #1d0b42;
    /* Text Styles */
    --subheader-text-font-family: "Roboto";
    --subheader-text-font-size: 30px;
    --subheader-text-font-weight: 400;
    --footer-text-font-family: "Roboto";
    --footer-text-font-size: 15px;
    --footer-text-font-weight: 400;
    --menu-text-hover1-font-family: "Roboto";
    --menu-text-hover1-font-size: 15px;
    --menu-text-hover1-font-weight: 400;
    --menu-text-font-family: "Roboto";
    --menu-text-font-size: 15px;
    --menu-text-font-weight: 400;
    --header-text-font-family: "Roboto";
    --header-text-font-size: 40px;
    --header-text-font-weight: 400;
    --body-text-font-family: "Roboto";
    --body-text-font-size: 18px;
    --body-text-font-weight: 400;
    --user-test-font-family: "Arial Bold";
    --user-test-font-size: 16px;
    --user-test-font-weight: 400;
    --custom-test-font-family: "Helvetica";
    --custom-test-font-size: 30px;
    --custom-test-font-weight: 400;
    --typekit-test-font-family: "input-mono";
    --typekit-test-font-size: 16px;
    --typekit-test-font-weight: 400;
    --typekit-test-font-style: italic;
    --google-test-font-family: "Roboto";
    --google-test-font-size: 16px;
    --google-test-font-weight: 100;
    /* Layer Styles */
    --top-menu-background-color: #323232;
    --top-menu-shadow-offset-x: 0px;
    --top-menu-shadow-offset-y: 2px;
    --top-menu-shadow-blur: 4px;
    --top-menu-shadow-spread: 0px;
    --top-menu-shadow-color: rgba(0,0,0,0.50);
}